<!doctype html>
<html lang="en">
	<head>
		<title>pyitunesweb | github.com/tommed/pyitunesweb</title>
		<link rel="stylesheet" href="css/default.css"/>
		<script>
			PIT_PATH = "#{pitpath}"
		</script>
		<script type="text/javascript" src="http://static.tommed.co.uk/js/prototype.js"></script>
		<script type="text/javascript" src="js/media.js"></script>
	</head>
	<body onload="media.get_recently_played()">

		<div class="player">
			<audio id="player" controls autobuffer autoplay></audio>
			<form method="get" action="index.cgi">
				<input type="search" name="search" value="#{search_default}" results="5" id="search"/>
			</form>
			<p>#{track_count} tracks | <a href="install/scan.cgi">Scan</a> | <a href="install/">Reset</a></p>
		</div>

	<?py include('templates/recently_played.html') ?>

		<!-- Tracks -->
		<ul class="songlist">
	<?py lastalbum = "_"
for song in songs: 
	artwork_html = get_album_artwork(song, lastalbum)
	lastalbum = song[4] ?>
		<li>
			#{artwork_html}
			<a href="javascript:media.play('${song[3].replace("'","\\'")}','${song[1].replace("'","\\'")}','${song[2].replace("'","\\'")}', '${song[4]}');">
				${song[2]}
			</a>
		</li>
<?py #end ?>
		</ul>

		<div class="pager">
<?py if page_number > 1: ?>
		<a href="index.cgi?page=${page_number-1}&search=${search_default}">&lt; Previous</a>
<?py #end ?>
	Page #{page_number} of #{page_count}
<?py if page_number != page_count: ?>
		<a href="index.cgi?page=${page_number+1}&search=${search_default}">Next &gt;</a>
<?py #end ?>
	</div>

	</body>
</html>
<!--
# vim: sw=2 ts=2 ai cin
-->
